@import url('typeface.css');

/*=*=*=*=*=*=*=*=*(🦆💚) CSS variables (🦆💚)*=*=*=*=*=*=*=*=*/
:root {
    --mac-blue: #7190ff;
    --mac-blue: #719eff;
    --mac-blue: #7f99ff;
    --mac-blue: #82a3fe;
}

/*=*=*=*=*=*=*=*=*(🐷🩷) default settings (🐷🩷)*=*=*=*=*=*=*=*=*/
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .2s ease;
}

body {
    background-color: #3c414f;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
}

h2 {
    color: #e6e6e6;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -.5px;
    margin-bottom: 0.55rem;
    text-transform: capitalize;
}

h3 {
    color: #8f939f;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.65;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
    width: 85%;
}

h4 {
    color: #979ba7;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}

p {
    color: #c0c0c0;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .125px;
    line-height: 1.75;
    margin: 0 0 1rem;
}

a {
    cursor: pointer;
    color: #779bfe;
    font-weight: 400;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
    color: #89aeff;
}

hr {
    border: none;
    border-top: 1px solid rgb(119 123 139 / 40%);
    margin: 4rem auto;
    width: 30%;
}

button {
    font-family: 'Poppins', sans-serif;
}


/*=*=*=*=*=*=*=*=*(🦋🩵) navigation (🦋🩵)*=*=*=*=*=*=*=*=*/
.navigation {
    backdrop-filter: blur(20px);
    box-shadow: 0 0px 20px rgba(30, 33, 39, 0.5);
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 9999;
}

.nav-header {
    background-color: #4362cf;
}

.nav-header-title-link:hover {
    text-decoration: none;
}

.nav-header-title-link:hover .nav-title {
    color: rgb(255 255 255 / 85%);
}

.nav-header-title {
    display: flex;
    justify-content: center;
    align-items: center;

    border-left: 0;
    border-right: 0;
    color: #ecf0ff;
    cursor: pointer;
    font-size: 19px;
    font-weight: 800;
    letter-spacing: .25px;
    padding: 6px 0;
    transition: all .25s ease;
}

.nav-header-title--light-text {
    font-weight: 300;
    padding-right: 6px;
    color: #ddd;
}

.nav-header-title--icon {
    color: #a5bdff;
    padding-right: 8px;
}

.nav-menu {
    background-color: #727a8f;
}

.nav-menu .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu-item {
    border-radius: 6px;
    color: rgb(255 255 255 / 70%);
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    margin: 4px 2px;
    letter-spacing: .125px;
    padding: 5px 12px;
}

.nav-menu-item:hover, .nav-menu-item.active {
    color: #fff;
    background-color: rgba(75, 82, 100, 0.95);
    text-decoration: none;
}

.nav-menu-item.active {
    background-color: #363b48;
}


/*=*=*=*=*=*=*=*=*(🌙✨) sections (🌙✨)*=*=*=*=*=*=*=*=*/
.page .body-container {
    margin: 0 auto;
    max-width: 840px;
    padding: 3rem 0;
}


/*=*=*=*=*=*=*=*=*(🌈🍭) sections (🌈🍭)*=*=*=*=*=*=*=*=*/
.section-container {
    margin: 0 auto;
    max-width: 840px;
    padding: 6rem 0;
}

.section-container.small {
    padding: 5rem 0;
}

.section-container.small .section-title{
    font-size: 38px;
    margin-bottom: .5rem;
    color: #ccc;
}

.section-container.small .section-header {
    width: 90%;
}

.section-header {
    margin: 0 auto 2.25rem;
    text-align: center;
    width: 80%;
}

.section-title {
    display: flex;
    justify-content: center;
    margin-bottom: .75rem;
}

.section-desc {
    margin: auto;
    width: 92%;
    font-size: 20px;
}


/*=*=*=*=*=*=*=*=*(🦄🩷) landing panorama (🦄🩷)*=*=*=*=*=*=*=*=*/
.landing-panorama {
    background-color: #2c303b;
    background-image: linear-gradient(0deg, #2c303b, rgba(0, 0, 0, 0.35)), url(../assets/images/bear1.png);
    
    background-size: cover;
    position: relative;
    overflow: hidden;
}

section.landing-panorama .section-container {
    padding: 9% 0;
    position: relative;
    text-align: center;
    z-index: 1;
}

.landing-panorama-header {
    max-width: 780px;
    margin: 0 auto;
}

.page-title {
    color: #fdf3fe;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1;
    margin-bottom: 1.5rem;
    margin-top: 0;
    animation: pageTitle-fadeIn 4s;
}

    @keyframes pageTitle-fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

.page-title-light {
    padding-right: 24px;
    font-weight: 300;
    color: #ddd;
}

.page-title-icon {
    font-size: 110px;
    color: #a5bdff;
    margin-bottom: 2rem;

    animation: pageTitleIcon-fadeIn 2s;
}

    @keyframes pageTitleIcon-fadeIn {
        0% { 
            opacity: 0; 
            transform: rotate(45deg);
        }
        100% { 
            opacity: 1; 
            transform: rotate(0deg);
        }
    }

.page-subtitle {
    color: #e0e0e0;
    font-family: 'Poppins', sans-serif;
    font-size: 200%;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.6;
    margin: auto;
    text-shadow: 1px 1px 16px rgb(0 0 0 / 40%);
    text-transform: capitalize;
    width: 90%;
}

.page-subtitle-highlight {
    text-decoration: underline;
}

.landing-panorama-button-link:hover {
    text-decoration: none;
}

.landing-panorama-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin: 3.5rem auto 0;
    padding: 24px 36px;
    text-transform: capitalize;
}

.landing-panorama-button:hover {
    background-color: #fff;
    color: #333;
    letter-spacing: .5px;
    padding: 24px 36px;
}

.landing-panorama-button:hover i {
    color: #4362cf;
    margin-left: 1rem;
    font-size: 110%;
}

.landing-panorama-button i {
    margin-left: .75rem;
    padding-top: 4px;
}


/*=*=*=*=*=*=*=*=*(🐱💛) section : introduction (🐱💛)*=*=*=*=*=*=*=*=*/
section.introduction {
    text-align: center;
    background-color: #2c303b;
}

.introduction-main-content {
    margin-top: .5rem;
}

.content-curator-notes {
    background-color: #393e4b;
    border-radius: 24px;
    margin: 4rem auto 0;
    padding: 3rem 3rem 3.25rem;
}

.content-curator-note-list {
    text-align: left;
    padding-left: 2rem;
    margin: auto;
    color: #8f939f;
}

.content-curator-note-list li {
    margin-bottom: 1.25rem;
}

.content-curator-note-list li:last-child {
    margin-bottom: 0;
}

.content-curator-note-list p {
    color: #979ba7;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: .125px;
    line-height: 1.75;
    margin-bottom: 0;
}

.content-curator-note-list i {
    margin: 0 5px 0 3px;
    text-decoration: none;
}


/*=*=*=*=*=*=*=*=*(🦊🧡) section : dev-knowhow (🦊🧡)*=*=*=*=*=*=*=*=*/
section.dev-knowhow{
    background-color: #252931;
}

.dev-knowhow .section-title {
    /* font-size: 42px; */
    /* margin-bottom: 0.5rem; */
}

.webtech-list {
    margin-bottom: -0.25rem;
    text-align: center;
}

.webtech-list-item {
    border: 2px solid #779bfe;
    border-radius: 12px;
    color: #779bfe;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 14.5px;
    font-weight: 500;
    letter-spacing: .125px;
    margin: 0 0.5rem 1.25rem;
    padding: 0.625rem 1.25rem;
}

.webtech-list-item:hover {
    text-decoration: none;
    background-color: #779bfe;
    color: white;
    cursor: pointer;
}


/*=*=*=*=*=*=*=*=*(🦖💚) section : impact (🦖💚)*=*=*=*=*=*=*=*=*/
section.impact {
    background-color: #20232a;
}


/*=*=*=*=*=*=*=*=*(🐬🩵) section : newsletter (🐬🩵)*=*=*=*=*=*=*=*=*/
section.newsletter {
    background-color: #3c414f;
}

.newsletter .section-container.small {
    display: flex;
    align-items: center;
}

.newsletter .section-container.small .section-header {
    width: 100%;
    margin: 0 auto 1.5rem;
}

.newsletter h3 {
    width: 100%;
}

.graphic-block {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-block {
    width: 68%;
}

.newsletter-icon {
    opacity: .15;
    width: 85%;
}

.newsletter-form {
    text-align: center;
}

.newsletter-email-input {
    height: 46px;
    border-radius: 10px;
    border: none;
    width: 57%;
    margin-right: 14px;
    padding: 0 16px;
    font-size: 16px;
    color: #262a34;
}

.newsletter-submit-button {
    height: 47px;
    border-radius: 10px;
    border: none;
    width: 20%;
    background-color: #779bfe;
    background-color: #4362cf;
    background-color: #4c6ee9;
    /* background-color: #577af8; */
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;
}

.newsletter-submit-button:hover {
    background-color: #89aeff;
    background-color: #557aff;
    background-color: #6082ff;
}


/*=*=*=*=*=*=*=*=*(🐙❤️‍🩹) section : footer (🐙❤️‍🩹)*=*=*=*=*=*=*=*=*/
section.footer {
    background-color: #3c414f;
}

section.footer .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;
    max-width: 1024px;
    padding: 1rem 0;
}

.footer-title-link:hover {
    text-decoration: none;
}

.footer-title {
    display: flex;
    align-items: center;

    color: #e1e1e1;
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
}

.footer-title:hover {
    opacity: .8;
}

.footer-title-light {
    padding-right: 5px;
    color: #ddd;
    font-weight: 200;
}

.footer-title-icon {
    padding-right: 8px;
    color: #aeaeae;
}

.footer-creator {
    font-size: 13.5px;
    color: #737886;
    line-height: 1;
    margin-bottom: 0;
}

.footer-creator-name {
    text-decoration: none;
    margin-left: 2px;
    font-weight: 400;
}

.footer-creator-name:hover {
    text-decoration: underline;
}